@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
.font-tiro-telugu {
  font-family: 'Tiro Telugu', serif;
  font-size: 50px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #FBE6FF;
}

